.cor{
    background-color: royalblue;
}

.borda{
    border: solid 1px lightblue;

    border-top-left-radius: 12px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    background-color: white;
}
