<nav class="navbar shadow-sm navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Satoshima</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Plano de negócios </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pitch </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Projeções
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/receita">Receitas</a>
          <a class="dropdown-item" href="#">Custos</a>
          <a class="dropdown-item" href="#">Despesas</a>
          <a class="dropdown-item" href="#">Pessoal</a>
          <a class="dropdown-item" href="#">Inventário</a>
          <a class="dropdown-item" href="#">Financiamentos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mapa de Cash Flow</a>
          <a class="dropdown-item" href="#">Demonstração de Resultados</a>
        </div>
      </li>
    </ul>
    <i (click)="navigateToConf()" class="fas fa-cogs m-2" data-toggle="tooltip" data-placement="bottom" title="Configurações"></i>
    <i class="fas fa-power-off m-2" data-toggle="tooltip" data-placement="bottom" title="Logout"></i>
  </div>
</nav>

<router-outlet></router-outlet>
